.form_register input {
    border: none;
    color: #9C0746;
    width: 100%;
}

.form_register span {
    color: #9C0746;
    font-size: 18px;
    display: flex;
    align-items: center;

}

.form_register {
    border-radius: 30px;
    border: 1px solid #9C0746;
    padding: 15px;
    width: 320px;
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 30px 0;
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 70px 0;

}

.input_group {
    display: flex;
    gap: 10px;
}

@media screen and (min-width:554px) and (max-width:768px) {


    .productContainer {
        gap: 15px;
    }
}