.purplebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
background: linear-gradient(86deg, #9C0746 -15.57%, #B44E79 128.11%);
border-radius: 10px;
padding: 8px 15px;
cursor: pointer;
font-family: Montserrat;

font-size: 14px;

font-weight: 400;

}