.kataloq_container {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}




.kataloq_carousel_item_img {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.kataloq_carousel_item h3 {
    color: #B44E79;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;

}


.kataloq_products_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.card {
    background-color: white;
    min-height: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 20px 90px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 380px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media screen and (min-width:320px) and (max-width:553px) {


    .kataloq_container {

        gap: 20px;
    }

}

@media screen and (min-width:554px) and (max-width:768px) {


    .kataloq_products_container {
        gap: 15px;
    }
}