* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
outline: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}




input::-webkit-outer-spin-button, 
      input::-webkit-inner-spin-button { 
         -webkit-appearance: none; 
      }

@font-face{

    font-family: "Sail";
    src: url("./fonts/Sail/Sail-Regular.ttf")
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Mont/Montserrat-Regular.ttf")
}



@media screen and (min-width: 320px) and (max-width:553px) {
    .container {
        max-width: 90%;

    }
}


@media screen and (min-width: 553px) and (max-width:768px) {
    .container {
        max-width: 90%;

    }
}

